<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSources" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<constructor-arg value="jdbc:mysql://localhost:3306/example"/>
		<constructor-arg value="root"/>
		<constructor-arg value="root123"/>
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
	</bean>
	<bean   id="Emp" class="com.sysintelli.dao.EmployeeDAO">
	<property name="dataSource" ref="dataSources" > </property>
</bean>

<bean id="em" class="com.sysintelli.entity.Employee" >
     <property name="id" value="2"></property>

 
</beans>